<h1> Welcome to the BigAnimal Game Lobby!</h1>

<p class="lead"> Take a look at our deck selection, and pick one that tickles your fancy. </p>

<% @decks.each do |deck| %>
  <div class="card-deck">
      <div class="inner-border">
        <div class="card-content">
          <h2><%= deck.name %></h2>
          <a class="btn btn-play btn-lg" href ="<%= "/decks/#{deck.id}" %>" role="button"> Play! </a>
          <a class="btn btn-play btn-lg" href ="<%=  "/decks/#{deck.id}/edit" %>" role="button"> Edit Deck </a>
          <form method="post" action="/decks/<%= deck.id %>">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="Delete">
          </form>
        </div>
      </div>
  </div>
<%end%>

<h2> Don't like the ones that you see here?
<h2><a href = "<%= " /decks/new" %>"> Make my own deck! </a></h2>

