<h1>Stats for user: <%=@user.username%></h1>
<p class="lead">Hi <%=@user.first_name%>, here are your stats!</p>
<% @user.rounds.each do |round| %>

  <div class="user-stats">
    <div class="stats-content">
      <h3 class="title"><%= round.cards.first.deck.name %></h3>
      <p class="category">Played on: <%= round.created_at.strftime("%m/%d/%Y, %I:%M%p") %></p>
      <p class="category">First-time correct guesses: <span class="bold"><%= round.first_shot %></span></p>
      <p class="category">Total guesses: <span class="bold"><%= round.guesses.size %></span></p>
      <p class="category">Deck size: <span class="bold"><%= round.cards.first.deck.cards.size %></span></p>
      <!-- line7  breaks the law of demeter ^^^ -->
    </div>
  </div>

<% end %>

<a class="btn btn-primary btn-lg" href="/decks" role="button">Check out the Decks</a></br>
<a class="btn btn-create btn-lg" href="/decks/new" role="button">Create a new Deck</a>

