<h1> Welcome new flash card enthusiast! </h1>

<%if @errors%>
  <h4> We ran into some errors creating you account</h4>
  <ul>
  <%@errors.each do |message|%>
    <li><%= message %></li>
  <%end%>
  </ul>
<%end%>
<div id="user-form">
  <form id="form-content" method="post" action = "/registering">
    <p id="label-username">User Name</p>
    <input id = "username" name="user[username]" value = "<%= @user.username%>" placeholder = "Mandatory"></br>

    <p id="label-first">First Name</p>
    <input id = "first_name" name="user[first_name]" value = "<%= @user.first_name%>" placeholder = "Optional"></br>

    <p id="label-last">Last Name</p>
    <input id = "last_name" name="user[last_name]" value = "<%= @user.last_name%>" placeholder = "Optional"></br>

    <p id="label-email2">Email</p>
    <input id = "email" type="email" name="user[email]" value = "<%= @user.email%>" placeholder = "Mandatory"></br>

    <p id="label-password2">Password</p>
    <input id = "password" type="password" name="password" placeholder = "super secret!!!"></br>

    <input type = "submit" value = "sign up" class="btn btn-submit">
  </form>
</div>

