<h2> Awesome, <%= @deck.name %> is now available. Now, let's add some cards! </h2>

<p class="lead"> On this page, we will create cards for the deck.</p>
<ul class="lead">
  <li>The definition is what you want to ask, for example: The sky is this color.</li>
  <li>The term will be the answer, for example: blue</li>
</ul>
<p class="lead">Enter as many cards as you'd like, and when you're finished pressed the 'I'm done' button!</p>

<%if @errors%>
  <h4> There was an error creating your card</h4>
  <ul>
  <%@errors.each do |message|%>
    <li><%= message %></li>
  <%end%>
  </ul>
<%end%>
<div id="user-form">
  <form id="form-content" method = "post" action = '/decks/<%=@deck.id%>/cards'>
  <h2 class="title">Enter the Definition and Term:</h2>
  <input type = "hidden" name = "deck_id" value = <%= @deck.id%>>
  <p id="label-username">Definition</p>
  <input id = "guess" type = "text" name = "cards[definition]" placeholder = "Definition"><br>
  <p id="label-username">Term</p>
  <input id = "guess" type = "text" name = "cards[term]" placeholder = "Term/answer"><br>
  <input type = "submit" name = "next_card" value = "Next Card" class="btn btn-next" >
  </form>
  <div class="finished">
    <h3>Finished?</h3>
    <a class="btn btn-primary" href="/decks/<%=@deck.id%>" role="button"> Save &amp; View Your Deck</a>
    <p class="or">or</p>
    <a class="btn btn-primary" href="/decks" role="button"> Save &amp; View All Decks </a>
  </div>
</div>
